.text-sm{
    font-size: 13px;
}

.fw-bold{
    font-weight: bold;
}

.d-block{
    display:flex;
    flex-direction: column;
    gap:10px;
}

.subscription-container{
    display:flex ;
    justify-content:space-between;
     align-items:center;
}

@media screen and (max-width: 768px) {
    .subscription-container{
        display:flex ;
        flex-direction:column;
        gap:10px;

    }  
}



.d-block span{
   display:block;
    flex-direction: column;
    margin-top:5px;
    font-size:14px;
}



.fa-check{
    padding:3px;
    background-color: black;
    border-radius:50%;
    color:white;
    margin-right:3px;
    font-size:13px;
}

.fa-close{
    padding:3px;
    background-color: red;
    border-radius:50%;
    color:white;
    font-size:13px;
    margin-right: 3px;

}

.subscription-container .subscription-content{
    margin:0px 10px;
    padding:10px 20px;
    border-radius:10px;
    border:3px solid rgb(34, 13, 113);
}

.mt-10{
    margin-top: 100px;
}

.bg-danger hr{
    border-color:white;
}


.bg-danger .fa-check{
    padding:3px;
    background-color: white;
    border-radius:50%;
    color:black;
    margin-right:3px;
    font-size:13px;

}

.fw-bold{
font-weight: bold;
font-size: 14px;
}

.pricing{
    font-size:28px;
}

.coming-soon{
    font-size:11px;
    color:darkgreen;
    background-color: rgb(21, 202, 21) !important;
    padding:0px 7px;
    font-weight: normal;
}