body{

    font-family:poppins;
background-color:#f0faff;
}

.navbar{
    display: flex;
    justify-content: space-between;
}






small{
    display: block;
    margin:10px 0px;
    font-size:14px;
    opacity:0.5;
}

.fa-circle{
    color:rgb(60, 5, 5);
}

.answer-container{
    display:flex;
    justify-content:space-between;
     align-items:center;
}

.text-sm{
    font-size:13px;
}

.fw-bold{
font-weight: bold;
}

.user-container{
    display:flex;
     justify-content:space-between;
    align-items:center;
}

.user-container img{
    width:60;
    height:60px;
    object-fit:cover;
}

.border-right{
    border-right:1px solid rgb(213, 213, 213);
    padding-right:10px;
}

.ads-container {
    width:190px;
    height:170px;
   position: relative;
    display:flex;
    flex-direction:column;
}

.ads-container img{
width:100%;

margin:15px 0px;
object-fit: cover;
}

.pic-container{
    height:250px;
    width:100%;
    background-color: #d3d3d3;
    border:1px solid transparent;
    align-items:center;
}

.questions{
display:flex;
justify-content:space-between;
flex-wrap: wrap;
gap:10px;
text-align: center;


}


.questions div figure figcaption{
  display:flex;
  flex-direction: column;
}

.questions div figure{
height:170px;
width:200px;
background-color: #b7b7b7;
border:1px solid transparent;
}

@media only screen and (max-width:768px) {
    .questions div figure{
        height:150px;
        width:175px;
      
        }

}


.questions div figure figcaption{
    align-items: center;
    text-align:center;
}

.button-container{
    display:flex;
    justify-content:space-between;
     margin-top:20px;
}

.bg-yellow{
    background-color: yellow;
    padding:1px 5px;
}

.bg-white{
background-color: white;
padding:10px;
}

 .slider{
    appearance: none;
    -webkit-appearance: none;
    width:100%;
    height:10px;
    background-color: grey;
    outline:none;
    opacity: 0.7;
    transition: opacity .15s ease-in-out;
} 

.slider::-webkit-slider-thumb {
-webkit-appearance: none ;
appearance:none;
width: 20px;
height:20px;
background:darkred;
cursor: pointer;
border-radius:50%;

}

.slider::-moz-range-thumb{
    width:20px;
    height:20px;
    background:darkred;
    cursor:pointer;
    border-radius: 50%;
}


.numbering{
    display: flex;
    justify-content: space-between;
}

.stars{
display:flex;
justify-content: space-between;
flex-wrap: wrap;
gap:20px;
font-size:24px;
}

.stars span{
padding:20px 30px;
border:1px solid transparent;
box-shadow: 0px 2px 10px rgba(0,0,0,0.4);

}

.ml-3{
font-size:13px !important;
}

.px-3{
    font-size:13px;
}

.user-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    background-color: #eeeeee;

}

.create-survey div{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    gap:15px;
}

.bg-grey{
    background-color: #d3d3d3;
}

.flex-direction-column{
    display:flex;
   flex-direction: column;
    align-items: center;
}

.navlinks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:10px;
}

.search-input{
    display:flex;
    justify-content:center;
}

